/* Ajuste da Barra de Pesquisa para mobile */
@media screen and (min-width: 480px) {
    .search-button span {
        display: inline;
    }

    .search-button {
        padding: 10px 20px;
    }

    .search-suggestions {
        display: inline;
        flex-wrap: none;
        justify-content: none;
        gap: 0;
    }
}

@media screen and (min-width: 768px){
    .navbar{
        flex-direction: column;
        margin: 1rem auto;
    }

    .content-logo{
        justify-self: center;
    }

    .menu-toggle{
        display: none;
    }

    .nav-links {
        position: relative;
        height: 100%;
        width: 100%;
        flex-direction: row;
        transform: translateX(0);
        justify-content: space-evenly;
        gap: 0;
    }

    .nav-links.glass-container{
        background: #ff4081;
        border: none;
        backdrop-filter: none;
        box-shadow: none;
    }

    .nav-links li{
        min-width: fit-content;
        max-width: 13%;
    }

    .carrossel-container{
        margin: 0 auto;
        height: 650px;
    }

    .card {
        width: 55%;
    }

}


/* Telas Maiores que 1024px*/
@media screen and (min-width: 1024px){
    .nav-links{
        width: 90%;
    }
}


/* Telas Maiores que 1250px*/
@media screen and (min-width: 1250px){
    .nav-links{
        width: 80%;
    }


}


/* Telas Maiores que 1650px*/
@media screen and (min-width: 1650px){
    .nav-links{
        width: 70%;
    }
}

