*{
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: overlay;
    background: transparent;
}


html {
  /* Reserva o espaço da barra mesmo quando ela some */
  scrollbar-gutter: stable;
}