/* Estilização do Scroll lateral */
html::-webkit-scrollbar{
    width: 8px;
}

html::-webkit-scrollbar-track{
    background-color: rgb(143, 205, 216);
}

html::-webkit-scrollbar-thumb{
    background-color: #ff4081;
    border: 1px solid white;
    border-radius: 20px;
}