.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}

.content-logo{
    margin: 0 auto;
    padding: 0 20px;
}

.logo{
    width: 150px;
}


/*Configurações do Menu de Links*/
.nav-links{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #444;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    font-family: "Quicksand", sans-serif;
    font-weight: 500;

    transform: translateX(101%);
    transition: transform .3s ease-in-out;
    z-index: 10;
}

.nav-links.glass-container{
    background: rgba(150,150,200,.90);
}

.nav-links.nav-active {
    transform: translateX(0%);
}


/* Configurações do Menu Toggle*/
.menu-toggle{
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 30px;
    justify-content: space-between;
    cursor: pointer;
    background: none;
    border: none;
}

.bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all .3s ease;
}

.menu-toggle.open{
    z-index: 9999;
}

.menu-toggle.open .bar:nth-child(1){
    transform: translateY(10px) rotate(45deg);
}

.menu-toggle.open .bar.bar:nth-child(2){
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3){
    transform: translateY(-11px) rotate(-45deg);
}

.no-scroll {
    overflow: hidden;
}