body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("../img/bg-doces.jpg") center / cover no-repeat;
    z-index: -1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    max-width: 90%;
    margin: .5rem auto;
}

.content-logo{
    margin: 0 auto;
    padding: 0 20px;
}

.logo{
    width: 150px;
}


/*Configurações do Menu de Links*/
.nav-links{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #444;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: "Quicksand", sans-serif;
    font-weight: 500;

    transform: translateX(101%);
    transition: transform .3s ease-in-out;
    z-index: 10;
}

.nav-links.glass-container{
    background: #ff4081;
}

.nav-links.nav-active {
    transform: translateX(0%);
}

.nav-links li{
    width: 80%;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: all .3s ease-in-out;
}

.nav-links li:hover,
.nav-links li:focus-within{
    background-color: #f50057;
    border: 2px solid white;
    transform: scale(1.05);
}

.nav-links li a{
    display: block;
}


/* Configurações do Menu Toggle*/
.menu-toggle{
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 30px;
    justify-content: space-between;
    cursor: pointer;
    background: none;
    border: none;
}

.bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all .3s ease;
}

.menu-toggle.open{
    z-index: 9999;
}

.menu-toggle.open .bar:nth-child(1){
    transform: translateY(10px) rotate(45deg);
}

.menu-toggle.open .bar.bar:nth-child(2){
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3){
    transform: translateY(-11px) rotate(-45deg);
}

.no-scroll {
    overflow-y: hidden;
}


/* Estilização da Barra de Persquisa (Search) */
.search-section {
    padding: 30px 20px;
    text-align: center;
    background-color: rgb(246, 251, 255, 1);
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
}

.search-form {
    display: flex;
    width: 100%;
    max-width: 600px; /* Limita a largura em telas grandes */
    background: white;
    border-radius: 50px; /* Bem arredondado para o estilo "soft" */
    padding: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border: 2px solid #ff7eb3; /* Borda rosa fina */
}

.search-input {
    flex: 1; /* Faz o input ocupar todo o espaço disponível */
    border: none;
    padding: 10px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    border-radius: 50px 0 0 50px;
    outline: none;
}

.search-button {
    display: flex;
    background-color: #ff4081; /* Rosa vibrante */
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    transition: background 0.3s ease;
    gap: 7px;
    align-items: center;
}

.search-button:hover {
    background-color: #f50057;
}

/* Configurações de Sugestões de Pesquisas */
.search-suggestions {
    margin-top: 12px;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    color: #666;
}

.search-suggestions span {
    font-weight: 700;
    margin-right: 5px;
}

.search-suggestions a {
    color: #ff4081; /* Rosa da Doces Mello */
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}

.search-suggestions a:hover {
    color: #f50057;
    text-decoration: underline;
}

/* Estilização Carrosel de Banner */
.carrosel-section{
    display: flex;
    max-width: 90%;
    justify-items: center;
    margin: .5rem auto;
    padding: 1rem 2rem;
    overflow: hidden;
}

.carrosel-container{
    width: 100%;
    max-width: 800px;
    height: 400px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input[type=radio]{
    display: none;
}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left:0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.banner-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid rgba(255,255,255,.3,);
}

.banner{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Lógica de Movimentação do Carrosel */
#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translateX(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translateX(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}